@media screen and (min-width: 801px) {
  .fa-bars {
    visibility: hidden;
  }
  .nav.menu {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    max-width: 260px;
    position: fixed;
    overflow: auto;
  }

  #side_menu {
    overflow: auto;
  }

  #main, #connect {
    max-width: 740px;
    width: 70%
  }
  #main {
    margin-left: 260px;
  }
  .container {
    width: 100%;
  }
  #nav-header h1, #nav-header h5 {
    display: none;
  }
  #nav-header img {
    margin-top: 50px;
  }
} 

@media screen and (min-width: 1000px) {
   #main {
    margin-left: calc((100% - 480px)/2);
  }

  .nav.menu {
    margin-left: calc((100% - 1000px)/2);
  }
}

/*
** Styling the navigation side menu and hamburger icon.
*/
.fa-bars, #header .fa-home {
  color: white;
  font-size: 1.5em;
  margin-top: 15px;
  padding-bottom: 0;
}

/* Header */
#header .fa-home {
  display: inline;
  float: right;
}

.nav {
  z-index: 100;
  background-color: #fff;
  width: 85%;
  max-width: 380px;
  height: 100%;
  position: absolute;

  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-800px, 0);
  transform: translate(-800px, 0);
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
}

.nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}



/* Styling list items */
ul {
  list-style-type: none;
  padding-left: 0;
}










/* Skills */

.skills, #skills,  #skills li{
  display: inline;
}

#skills li {
  border: 1px solid black;
  padding: 2px;
}

.skills {
  padding-left: 0;
  margin-left: 0;
}


  
/* Styling the project section */
#projects h2, #projects h4, #education h2, #education h4, {
  display: inline;
}

#projects h4, #education h4 {
  float: right;
}


/* Styling online classes section */
.class-entry {
  margin-top: 15px;
}

.class-entry a:first-of-type {
  display: inline;
  float: right;
  margin-top: 0;
}

.class-entry h3 {
  display: inline;
}

.cert-entry {
  margin-top: 20px;
}

