div {
  width: 100%;
}

body {
  width: 100%;
  max-width: 100%;
  background-color: rgba(204, 204, 204, 0.66);
}


/* Styling navigation menu header */
#nav-header {
  max-width: 100%;
  height: 262px;
  background-color: #66b3ff;
  text-align: center;
}

#nav-header img {
  margin-top: 20px;
  border-radius: 50%;
}

#nav-header h4 {
  margin-bottom: 0;
}

#nav-header h6 {
  margin-top: 0;
}

/* Styling side menu */
#lang {
  margin-left: 80px;
}

.tag {
  border: 1px solid white;
  padding: 2px;
  font-size: .6em;
  color: white;
  display: inline;
  background-color: gray;
}

#share {
  margin: 10px 60px;
}

#share i {
  margin-right: 0;
}

.nav li {
  margin-top: 30px;
  max-width: 100%;
}

.nav li:last-of-type {
  margin-bottom: 20px;
}

.nav i {
  margin-left: 20px;
  margin-right: 40px;
  width: 20px;
}

.fading {
  color: gray;
}

.fa-home {
  color: #66b3ff
}

.fa-facebook {
  color: #3b5998;
}

.fa-google-plus {
  color: #bd0f0f
}

.fa-twitter {
  color: #55acee;
}

.fa-linkedin {
  color: #0073e6;
}

.fa-briefcase {
  color: #ff751a;
}

.fa-graduation-cap {
  color: #bf00ff;
}

/* This prevent the body from scrolling
   when the side menu is open */
.noScrolling {
  overflow: hidden;
}

/* This change the opacity of the main section */
.faded {
  opacity: 0.6;
}

/* Styling the header */
#header {
  background-color: #66b3ff;
  height: 262px;
  padding-bottom: 0;
  padding-top: 0;
}

#name {
  font-size: 1.4em;
  display: block;
  text-align: center;
  margin-top: 10px;
}

#title {
  text-align: center;
  margin-bottom: 15px;
}

#skills-h3 {
  margin-top: 0;
  padding-top: 0;
}

#connect {
  margin-top: 103px;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 5;
}

#connect a, #connect li {
  display: inline;
}

#connect img {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  padding: 0;
  margin-right: 15px;
}

/* Styling main section */
#workExperience {
  display: none;
}

#projects {
  padding-top: 60px;
  background-color: white;
}

#projects a, #projects h2 {
  display: inline;
  padding: 0;
  margin: 0 20px;
}

#projects a {
  float: right;
}

/* Styling the carousel */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.carousel-inner h5, .carousel-inner p {
  text-align: left;
  color: blue;
  padding-left: 20px;
}

/* Styling education section */
#education a, .container a {
  color: #66b3ff;
}

/* Styling the footer */
/* Styling the foot of the page. */
#lets-connect {
  width: 100%;
  height: 330px;
  padding: 0;
}

#lets-connect span {
  color: #FF0000;
}

.footer-connect {
  width: 50%;
  display: inline-block;
  text-align: left;
  padding-left: 60px;
  margin-bottom: 20px;
}

.col_0 {
  border-right: 2px solid rgba(51, 51, 51, 0.24);
}

.tab {
  float: right;
  padding-left: 20px;
}

.footer-connect li {
  margin-top: 20px;
}

.footer-connect i {
  margin-right: 10px;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
  
}

/* my modification */
.education-entry h3 {
  padding-left: 0;
}

li {
  list-style-type:none
}

#header span:last-of-type {
  padding-left: 0;
}
#skills {
  display: block;
}
/* End of my mod */


.clear-fix {
  overflow: auto;
}

.education-entry,
.class-entry,
.cert-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  color: white;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: black; /*#1199c3; */
  text-decoration: none;
  margin-top: 20px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding: 20px 0;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

.blue {
  background-color: #66b3ff;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: right;
  padding: 10px;
  width: 200px;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device width */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  width: 100%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
  background-color: white;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
